{% load static %}

<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
        <div class="container">
        <ul class="socialCol">
            <li><a href="https://www.facebook.com/ozren.vucicevic/"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
            <li><a href="https://soundcloud.com/ozrenv"><img src="{% static 'images/soundcloud.svg' %}" alt="..."></a></li>
            
            <li><a href="https://www.linkedin.com/in/ozren-vucicevic/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
            <p>Designed by <a href="https://www.linkedin.com/in/ozren-vucicevic/" target="_blank">Ozren Vucicevic</a> ©{% now 'Y' %}</p>
        </div>
        </div>
    </div>
    </footer>
    <!-- ================================
    End Footer
    ================================= -->